.nav {
  margin-left: -50px;
  margin-top: -16px;
  margin-right: -8px;

}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;   
}

.nav li {
  min-width: 120px;
  width: auto;
  border-bottom: none;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
}

.nav li {
  display: inline-block;
  margin-right: -4px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

b {
  font-family: 'Source Sans Pro', sans-serif; 
  font-style: normal;
  display: inline;
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}



hr.blue {
  margin-top: -18px;
  height: 20px;
  background: #78909C;  
  margin-bottom: 100px;
}

hr.bot {
  margin-bottom: 0px;
  margin-right: -8px;
  margin-left: -8px;
  height: 20px;
  background: #78909C;  
}

.footer {
  line-height: 50px;
  margin-right: -8px;
  margin-left: -8px;
  height: 50px;
  background: #444;
  border-bottom: none;
}

html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
  height: 50px; /* .push must be the same height as .footer */
}
