
@media screen and (max-width: 1200px) { /* When device has less than 1200px */

  .logo {
    margin: 0;
    display: none;
  }
  
  .device {
    display: none;
  }

  .deviceMobile {
    display: inline;
  }

}


@media screen and (max-width: 800px) { /* When device has less than 800px */

  img.resizeSmall{
    display: block;
    float: none;
    margin-right: auto;
    margin-left: auto;
    
  }

  .head_entry {
    display: inherit;
  }

  .nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 100px; 
    display: block;  
  }

  .nav ul{
    height: auto;

  }

  .nav li {
    width: auto;
    height: auto;
  }

  img.resizeBig{
    display: none;
  }

  .entries {  
    margin-left: 0;
    margin-right: 0;

  }

  p.margin {
    margin-left: 0;
  }

.buttonGrey {
  width: 100%;
  }

input  {
  width: 100%
}

textarea {

 width: 100%;
}

.title {
  width: 100%;
}
}