.nav {
  margin-left: -50px;
  margin-top: -16px;
  margin-right: -8px;

}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;   
}

.nav li {
  margin-left: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 100px;  
  
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav b {

  display: inline;
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    min-width: 100px;
    width: auto;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
  
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

  hr.blue {
    margin-top: -18px;
    height: 20px;
    background: #78909C;  
    margin-bottom: 100px;
  }

  .device {
    margin-left: 100px;
    margin-right: -200px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    display: inline;
    color: #ffffff;

  }